body 
{ 
	background: black !important; 
}

#aboutp
{
	
}
a#meme
{
  color:orange;
}

#services
{
	padding-top: 4em;
}

.pointer
{
	cursor: pointer; 
}

.invi
{
  display: none;
}
/*.section-heading
{
	
}*/