body 
{ 
	background: black !important; 
 /* #252525*/
}

#aboutp
{
	font-family: Helvetica,Georgia;
	font-size: 1.21em;
	color: white;
}

.knowhead
{
	font-size: 1.6em;
	color: #3E2723;
}

.smallhead
{
	color: #C63D0F;
	font-size: 1.4em;
	padding-top: 0.6em;
}

ul li
{
	color: white;
	font-family: Georgia,Helvetica;
	font-size: 1.25em;
}

/*
.knowlist li
{
	font-family: Georgia;
	color: white;
}*/

a#meme
{
  color:orange;
}

#services
{
	padding-top: 4em;
}

.pointer
{
	cursor: pointer; 
}

.invi
{
  display: none;
}
/*.section-heading
{
	
}*/