body 
{ 
	background: black !important; 
 /* #252525*/
}

#aboutp
{
	font-family: Helvetica,Georgia;
	font-size: 1.21em;
	color: white;
}

.knowhead
{
	font-size: 1.6em;
	color: #37474F;
}

.smallhead
{
	color: #37474F;
	font-size: 1.4em;
	padding-top: 0.6em;
}

ul li
{
	color: white;
	font-family: Georgia,Helvetica;
	font-size: 1.25em;
}

/*
.knowlist li
{
	font-family: Georgia;
	color: white;
}*/

a#meme
{
  color:orange;
}

/*#padred
{
  padding-bottom: 0em;
}*/

/*#page-bottom
{
	padding-bottom: 4em;
	//padding-top: 4em;
	margin-bottom: 0em;
	margin-top: 0em;
}*/
/*a
{
	color: #4dd0e1;
}*/

#services
{
	padding-top: 2em;
}

.pointer
{
	cursor: pointer; 
	color: white;
}

.chco
{
	color: #9E9E9E;
}
.invi
{
  display: none;
}
/*.section-heading
{
	
}*/